## Evaluation Task

Hello participant! This is the second part of the evaluation, you have 30 minutes to explore and identify interesting facts about the data:

**Everytime you have an insight, please immediately create a markdown cell that notes down your finding**---we have created a insight template that you can copy.

Please create **one insight per cell**. If you are using Midas and there is a relevant chart, or sets of charts, please also clip the charts (by clicking on the emoji ðŸ“·).

**insight:**

In [ ]:
task_id = "eval_faculty"

# please fill out your participant id, e.g., "pilot_2" 
pid = "test_1"

from midas import Midas
m = Midas(pid, task_id)
salary_df = m.from_file("./data/berkeley_faculty.csv")

In [ ]:
from datascience import Table, are
import numpy as np 

salary_df = Table().read_table("./data/berkeley_faculty.csv")
salary_df

In [2]:
salary_df

first   | last   | department                      | year | title               | salary
CYNTHIA | ABAN   | South & Southeast Asian Studies | 2015 | lecturer            | 64450
CYNTHIA | ABAN   | South & Southeast Asian Studies | 2014 | lecturer            | 51131
CYNTHIA | ABAN   | South & Southeast Asian Studies | 2013 | lecturer            | 47126
CYNTHIA | ABAN   | South & Southeast Asian Studies | 2012 | lecturer            | 49718
CYNTHIA | ABAN   | South & Southeast Asian Studies | 2011 | lecturer            | 7662.54
PIETER  | ABBEEL | Computer Science                | 2015 | associate professor | 184998
PIETER  | ABBEEL | Computer Science                | 2014 | associate professor | 158682
PIETER  | ABBEEL | Computer Science                | 2013 | assistant professor | 140783
PIETER  | ABBEEL | Computer Science                | 2012 | assistant professor | 134298
PIETER  | ABBEEL | Computer Science                | 2011 | assistant professor | 128167
... (16389 rows omitted)

## Understanding the Data

The `salary_df` data set contains, in each row, the salary per faculty per year at UC Berkeley. Each row also contains the faculty's title and department.

<font color="gray">Since UC Berkeley is a public institution, these data are published publicaly. Data is provided by [Daily Cal](https://github.com/dailycal-projects/ucb-faculty-salary).</font>

### Task One: Explore (15 min)

The goal here is to **learn basic facts** <font color="gray">e.g., professors in department X has the highest median income</font>, and **identify note worthy patterns** <font color="gray">e.g., professors tend to make X times more than assistant professors</font>.

**Everytime you have an insight, please create a markdown cell that notes down your finding**. Please create **one insight per cell**. Show relevant graphics if relevant.

### Task Two: Investigate (15 min)

In this section, please come up with a hypothesis and then verify it <font color="gray">e.g., whether larger departments also have higher pay, or whether departments with really high pays have consistent high pays or just some outliers etc.</font>.  Please also be on the look out for interesting things you find **along the way**, be sure to take quick notes.